# PDF do Teste
Teste_Tecnico_TI.pdf

# .NET
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# Node
node_modules/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db